body,
html,
* {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #29252f;
  font-family: "Courier New", Courier, monospace;
}
.card {
  width: 22%;
  height: 515px;
  margin: 25px auto;
  background-color: #e6ecf1;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
  }
}
.container {
  width: 90vw;
  background-color: #3c3a3c;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}
.price {
  color: #bf4d56;
  font-size: 4rem;
  font-weight: bold;
  margin: 10px auto;
  text-align: center;
}
.title {
  margin: 10px auto;
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
  color: #bf4d56;
}

.card:hover {
  transform: scale(1.1);
}
.header {
  text-align: center;
  font-size: 8rem;
  color: #e6ecf1;
  margin-top: 20px;
}
.button {
  display: block;
  margin: 10px auto;
  outline: 0;
  cursor: pointer;
  border: 1px solid #babfc3;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  color: white;
  background: #29252f;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  font-family: "Courier New", Courier, monospace;
}
button:hover {
  background: #202223;
  outline: 1px solid transparent;
}
