body,
html,
* {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #29252f;
  font-family: "Roboto", sans-serif;
}
.card {
  width: 22%;
  height: 500px;
  margin: 25px auto;
  background-color: #e6ecf1;
  border-radius: 15px;
}
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
  }
}
.container {
  width: 90vw;
  background-color: #3c3a3c;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}
.price {
  color: #bf4d56;
  font-size: 5rem;
  font-weight: bold;
  margin: 10px auto;
  text-align: center;
}
.title {
  margin: 10px auto;
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
  color: #bf4d56;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
